@import url(./global.css);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 24px 193px;
    filter: drop-shadow(0px -100px 100px var(--color-green));
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav ul li a {
    font-family: var(--font-alex);
    font-size: var(--font-size-text1);
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--color-green);
}

header .right-nav-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .right-nav-header .login {
    font-family: var(--font-alex);
    font-size: var(--font-size-text1);
    color: var(--color-white);
    text-decoration: none;
}

header .right-nav-header .try {
    font-family: var(--font-alex);
    font-size: var(--font-size-text1);
    color: var(--color-black);
    text-decoration: none;
    background: var(--color-green);
    padding: 8px 24px;
    border-radius: 40px;
    transition: 0.3s;
}

header .right-nav-header .try:hover {
    background: var(--color-white);
}

/* ================ MAIN ===================== */

main {
    padding: 60px 166px;
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    gap: 100px;
}

main .left-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

main .left-main-content span {
    display: flex;
    gap: 8px;
    width: fit-content;
    border-radius: 24px;
    border: 1px solid var(--color-gray2);
    padding: 10px 12px;
    font-family: var(--font-alex);
    font-size: var(--font-size-text2);
    color: var(--color-green);
}

main .left-main-content span img {
    width: 9px;
}

main .left-main-content h1 {
    width: 521px;
    font-family: var(--font-alex);
    font-size: var(--font-size-h1);
    color: var(--color-white);
}

main .left-main-content p {
    width: 470px;
    font-family: var(--font-inter);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
}

main .left-main-content .nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

main .left-main-content .nav-left .get-button {
    font-family: var(--font-alex);
    font-size: var(--font-size-button);
    color: var(--color-black);
    text-decoration: none;
    background: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    border: 1px solid transparent;
    transition: 0.3s;
}

main .left-main-content .nav-left .get-button:hover {
    background: var(--color-black);
    color: var(--color-green);
    border: 1px solid var(--color-green);
    scale: 1.05;
}

main .left-main-content .nav-left .watch-button {
    font-family: var(--font-alex);
    display: flex;
    align-items: center;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
    gap: 6px;
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}

main .left-main-content .nav-left .watch-button:hover {
    scale: 1.05;
}

/*  ================ SECTION-BRANDS ================ */

.section-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray4);
    gap: 40px;
    padding: 40px;
}

.section-brands .logo-brands {
    display: flex;
    gap: 50px;
}

.section-brands p {
    color: var(--color-gray1);
    font-family: var(--font-alex);
    font-size: var(--font-size-text1);
    font-weight: 400;
}

.section-brands .logo-brands img {
    transition: 0.3s;
}

.section-brands .logo-brands img:hover {
    scale: 1.2;
    cursor: pointer;
}

/* ================ section-features ======================= */

.section-features {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-black);
    padding: 60px;
}

.section-features .top-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-features .top-sect span {
    border: 1px solid var(--color-gray3);
    font-family: var(--font-alex);
    border-radius: 24px;
    padding: 12px 20px;
    color: var(--color-green);
}

.section-features .top-sect h2 {
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
    color: var(--color-white);
}

.section-features .top-sect p {
    font-family: var(--font-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 540px;
}

.section-features .feature-cards-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-features .feature-cards-content .feature-card {
    display: flex;
    border: 1px solid var(--color-gray3);
    background-color: #ffffff04;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    padding: 48px 36px;
    width: 410px;
    gap: 36px;
    text-align: center;
}

.section-features .feature-cards-content .feature-card .content-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-features .feature-cards-content .feature-card h3 {
    font-family: var(--font-alex);
    font-size: var(--font-size-subtitle);
    color: var(--color-white);
}

.section-features .feature-cards-content .feature-card p {
    font-family: var(--font-alex);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
}

/* ================= section-statistics ==================== */

.section-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
    background-color: var(--color-gray4);
}

.section-statistics .top-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-statistics .top-sect span {
    border: 1px solid var(--color-gray3);
    font-family: var(--font-alex);
    border-radius: 24px;
    padding: 12px 20px;
    color: var(--color-green);
}

.section-statistics .top-sect h2 {
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
    font-weight: 400;
    color: var(--color-white);
}

.section-statistics .top-sect p {
    font-family: var(--font-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 600px;
}

.section-statistics .content-statistics {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.section-statistics .content-statistics .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-statistics .content-statistics .statistic h3 {
    color: var(--color-green);
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
}

.section-statistics .content-statistics .statistic p {
    color: var(--color-gray1);
    font-family: var(--font-alex);
    font-size: var(--font-size-subtitle);
}

/* ============== setcion-features-technology ===================== */

.section-feature-technology {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background: var(--color-black);
    padding: 60px 0;
}

.section-feature-technology .top-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-feature-technology .top-sect span {
    border: 1px solid var(--color-gray3);
    font-family: var(--font-alex);
    border-radius: 24px;
    padding: 12px 20px;
    color: var(--color-green);
}

.section-feature-technology .top-sect h2 {
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
    font-weight: 400;
    color: var(--color-white);
}

.section-feature-technology .top-sect p {
    font-family: var(--font-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 600px;
}

.section-feature-technology .main-features-technology {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.section-feature-technology .main-features-technology .feature-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feature-cards .feature-content-cards {
    display: flex;
    padding: 20px 30px;
    gap: 24px;
    background-color: var(--color-gray4);
    border: 1px solid var(--color-gray1);
    border-radius: 20px;
}

.feature-cards .feature-content-cards .text-feature-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-cards .feature-content-cards .text-feature-cards h4 {
    font-family: var(--font-alex);
    font-weight: 400;
    font-size: var(--font-size-subtitle);
    color: var(--color-white);
}

.feature-cards .feature-content-cards .text-feature-cards p {
    font-family: var(--font-inter);
    font-size: var(--font-size-text1);
    color: var(--color-gray1);
    width: 465px;
}

/* ================== FAQ ==================== */
.section-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: var(--color-gray4);
    padding: 62.5px 0;
}

.section-faq .top-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-faq .top-sect span {
    border: 1px solid var(--color-gray3);
    font-family: var(--font-alex);
    border-radius: 24px;
    padding: 12px 20px;
    color: var(--color-green);
}

.section-faq .top-sect h2 {
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
    font-weight: 400;
    color: var(--color-white);
}

.section-faq .top-sect p {
    font-family: var(--font-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 600px;
}

.section-faq .faq-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-faq .faq-content .faq-item {
    display: flex;
    color: var(--color-white);
    font-family: var(--font-alex);
    justify-content: space-between;
    width: 732px;
    padding: 16px 20px;
    border: 1px solid var(--color-gray3);
}

/* =================== REVOLUTIONARY-SECTION ======================= */

.section-revolutionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);
    gap: 20px;
    padding: 60px 0;
}

.section-revolutionary .top-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-revolutionary .top-sect span {
    border: 1px solid var(--color-gray3);
    font-family: var(--font-alex);
    border-radius: 24px;
    padding: 12px 20px;
    color: var(--color-green);
}

.section-revolutionary .top-sect h2 {
    font-family: var(--font-alex);
    font-size: var(--font-size-h2);
    font-weight: 400;
    width: 750px;
    text-align: center;
    color: var(--color-white);
}

.section-revolutionary .top-sect p {
    font-family: var(--font-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 600px;
}

.section-revolutionary a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    border: 1.5px solid var(--color-white);
    color: var(--color-black);
    background-color: var(--color-green);
    font-family: var(--font-alex);
    font-size: var(--font-size-button);
    font-weight: bold;
    text-decoration: none;
}

/*  ================== FOOTER ================== */

footer {
    display: flex;
    gap: 126px;
    padding: 60px 78px;
    background-color: var(--color-black);
}

.group1-footer {
    display: flex;
    gap: 92px;
    align-items: flex-start;
}

.content-group1-footer {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.content-group1-footer ul li {
    list-style: none;
}
.content-group1-footer ul li a {
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-alex);
}

.content-group1-footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-group1-footer h2 {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-inter);
}

.group2-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.group2-footer h2 {
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-inter);
    width: 198px;

}

.group2-footer form input::placeholder {
    color: var(--color-gray1);
    background-color: var(--color-black);
    font-size: var(--font-size-text2);
    font-family: var(--font-family-alexandria);
}

.group2-footer form input {
    background-color: transparent;
    outline: none;
    color: var(--color-white);
    padding: 12px 5px;
}


.group2-footer form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-green);
    border-radius: 50px;
    transition: 0.3s;
}



.group2-footer form button:hover {
    background-color: var(--color-white);
    cursor: pointer;
    scale: 1.2;
}



.group2-footer form {
    display: flex;
    align-items: center;
    gap: 212px;
    border-bottom: 1px solid var(--color-gray1);
    padding-bottom: 16px;

}